body{
  background-image: url(pictures/15.jpg);
}
.registeration{
  position: absolute;
  background-color: rgb(241, 239, 239);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 287px;
  border-radius: 12px;
  text-align: left;
  margin: 0px;
  box-shadow: #0000001c 5px 5px;
}
.registeration h3 {
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
  text-align: left;
  margin: 20px 10px;
}
.logo {
  width: 200px;
  margin: -7px 0px 0px 67px;
  position: absolute;
}
.user{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 20px;
}
.section {
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
  margin: 5px 0px;
}
.registeration input {
  font-size: 15px;
  font-family: 'Indie Flower', cursive;
  padding: 5px 5px;
  width: 86%;
  border-radius: 12px;
  outline: none;
  margin: 0px 4px;
}
.registeration button {
  font-size: 15px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  margin: 15px 21px 5px 31px;
  padding: 5px 5px;
  width: 26%;
  border-radius: 15px;
  background-color: #d1a369eb;
  cursor: pointer;
}
.registeration button:hover {
    transition: 0.5s;
    background-color: #ce6c01;
    border-radius: 18px;
}
.footer{
  background: #DCDCDC;
  position: relative;
}
.about-us {
  border-style: solid;
  border-width: 1px 1px;
  border-radius: 6px;
  color: black;
  margin: 10px 0px 4px 125px;
  text-align: center;
  background: #DCDCDC;
  font-size: 15;
  font-family: 'Varela Round', sans-serif;
}
.grid-container{
display: grid;
grid-template-columns: auto auto auto;
background-color: #DCDCDC;
padding: 10px;
margin-top: 45%;
}
.grid-item1{
  color: #bd7c2a;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  margin: 10px 250px 10px 100px;
  background: #DCDCDC;
}
.grid-item2{
  color: #bd7c2a;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  margin: 10px 100px 10px 250px; 
  background: #DCDCDC;
}
.grid-item3 {
  padding: 8px;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  margin: 1px 140px 5px 0px;
  background: #DCDCDC;
}
.grid-item {
  padding: 8px;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  margin: 1px 20px 10px 200px;
  background: #DCDCDC;
}
.link{
  border: none;
  color: black;
  background-color: #DCDCDC;
  padding: 4px 2px 4px;
  margin: 5px 5px 5px;
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
}
.grid-item5 {
  color: black;
  text-align: left;
  font-size: 15;
  font-family: 'Indie Flower', cursive;
  margin: 4 20 4 250px;
  background: #DCDCDC;
}
.fa fa-instagram, .fa fa-facebook, .fa fa-twitter{
  background: #DCDCDC;
  border: none;
}

.back{
  background: url('15.jpeg');
  padding: 20px;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
.logo1 {
width: 128px;
margin-left: 101px;
}
