html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-image: url(pictures/background.png);
}

.registeration {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28em;
    height: 31em;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.11) 0.3em 0.3em;
}

.registeration h2 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0.8em 0em 0.5em 0em;
    word-spacing: 0.2em;
    letter-spacing: 0.2em;
    font-weight: 800;
}


.user {
    display: flex;

    justify-content: space-between;
}

.section {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 1em 0em 0em 0.2em;
    text-align: center;
}

.registeration input {
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em 0em 1em 1em;
    width: 88%;
    border-radius: 0.8em.8em;
    outline: none;
    margin: 0em 0em 1em 0em;
}

#terms {
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em 0em 1em 1em;
    width: 11%;
    border-radius: 0.8em.8em;
    outline: none;
    margin: 0em 0em 1em 0em;
}

.registeration button {
    font-size: 0.85em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1em 0em 0em 0em;
    padding: 0.5em 0em 0.5em 0em;
    width: 92%;
    border-radius: 0.8em;

    cursor: pointer;
}

.registeration button:hover {
    transition: 0.5s;
    background-color: #FFD700;
    border-radius: 0.8em;
}

.registeration h3 {
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 1em 0em;
}

.registeration h3 a {

    color: black;
}

.registeration h3 a:hover {

    color: #006eff;
    font-size: larger;
}


@media (max-width:806px) {
    .registeration {
        box-shadow: rgba(0, 0, 0, 0.11) 0.2em 0.2em;
    }

    body {
        background-image: url(pictures/background-806.png);
    }
}

@media (max-width:450px) {
    .registeration {
        width: 23em;
        height: 31em;
    }

    .registeration h2 {
        letter-spacing: 0.1em;
        word-spacing: 0.1em;
    }

    body {
        background-image: url(pictures/background-450.png);
    }
}

@media (max-width:350px) {
    .registeration {
        width: 22em;
        height: 33em;
    }

    .registeration h2 {
        letter-spacing: 0.1em;
        word-spacing: 0.1em;
    }

    body {
        background-image: url(pictures/background-350.png);
    }
}